<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
	

	<select parameterType="map" id="consultarItems" resultMap="itemResult">
	
			select
    
    		i.id as id_item,
    		i.nombre as nombre_item,
    		i.descripcion as descripcion_item,
    		i.fechalanzamiento ,
    		i.tarifaxdia ,
    		i.formatorenta ,
    		i.genero ,     
    		   
    		ti.id as id_tipoItem,
    		ti.descripcion  as descripcion_tipoItem

    
    		FROM VI_ITEMS as i left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 

	</select>
	
	<select parameterType="map" id="consultarItem" resultMap="itemResult">
    	
		select
    
    		i.id as id_item,
    		i.nombre as nombre_item,
    		i.descripcion as descripcion_item,
    		i.fechalanzamiento ,
    		i.tarifaxdia ,
    		i.formatorenta ,
    		i.genero ,     
    		   
    		ti.id as id_tipoItem,
    		ti.descripcion  as descripcion_tipoItem

    
    		FROM VI_ITEMS as i left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
    		
    		WHERE i.id=#{id_item}
    </select>
    
    
    <insert id ="insertarItem">
    	insert into VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id) 
    	VALUES (#{item.id},#{item.nombre},#{item.descripcion},#{item.fechaLanzamiento},#{item.tarifaxDia}, #{item.formatoRenta},#{item.genero},#{item.tipo.id})
    </insert>
	
	
	<select parameterType="map" id="consultarItemsDisponibles" resultMap="itemResult">
	
		select
    
    		i.id as id_item,
    		i.nombre as nombre_item,
    		i.descripcion as descripcion_item,
    		i.fechalanzamiento ,
    		i.tarifaxdia ,
    		i.formatorenta ,
    		i.genero ,     
    		   
    		ti.id as id_tipoItem,
    		ti.descripcion  as descripcion_tipoItem

    
    	FROM VI_ITEMS as i left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
    		
    	where i.id not in (select ri.ITEMS_id from VI_ITEMRENTADO as ri where ri.ITEMS_id=i.id) 

	</select>
	
	
	<select parameterType="map" id="consultarTipoItem" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.tipoItemResult">
	
		select 
    		   
    		ti.id as id_tipoItem,
    		ti.descripcion  as descripcion_tipoItem

    
    	FROM VI_TIPOITEM as ti left join VI_ITEMS as i on i.TIPOITEM_id=ti.id 
    		
    	where i.id=#{id_item}

	</select>
	
	<update parameterType="Item" id="actualizarTarifa">
	
		update VI_ITEMS
    		   
    	set	tarifaxdia = #{tarifa}
    		   
    	
    	where id = #{id_item}

	</update>
	
		
	
	<resultMap id="itemResult" type="Item">
	
    		<id property="id" column="id_item"/>
    		<result property="nombre" column="nombre_item"/>
    		<result property="descripcion" column="descripcion_item"/>
    		<result property="fechaLanzamiento" column="fechalanzamiento"/>
    		<result property="tarifaxDia" column="tarifaxdia"/>
      		<result property="formatoRenta" column="formatorenta"/>
      		<result property="genero" column="genero"/>
      		<association property="tipo" javaType="TipoItem" column="TIPOITEM_id" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.tipoItemResult"/>
   			
    </resultMap>

    
    
</mapper>