body {
  background-color:#b0d5f6;
}

h1{
  color: white;
  text-align: center;
  font-size:2.5vw;
  font-family: "Lato", "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
}

h2{
  color: white;
  font-family: "Lato", "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
  font-size:1.5vw;
  text-align:center;
}


p{
  color: black;
  font-size:1.2vw;
  font-family: "Helvetica", Helvetica, sans-serif ,"Century Gothic", Century Gothic, "Times New Roman", Times;
}

.label {
  color: white;
  padding: 0.5vw;
  font-family: Arial;
  display: inline-block;
  width: 6vw;
}

.idItem {
	background-color: #735d50;
}
 
.numdias {
	background-color: #f4dbcb;
	color: black;
} 

.form-control{
	font-family: Arial; 
	font-size:1.2vw;
	height:1.5vw;
	width: 17vw;
}

.alquiler {
  font-size:1.2vw;
  border: 0.2vw solid rgba(255,255,255,10);
  border-collapse: collapse;
  width: 70%;
  
 
}

.alquiler tr:nth-child(even){
	background-color: #f9f256;
	color:white;
}

.alquiler tr:nth-child(odd){
	background-color: #fcf8a5;
	color:black;
}

.alquiler tr:hover {
	background-color: #f04c65;
}

.alquiler th {
  padding-top: 25px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#ececec;
  color: black;
}


.ui-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #e1dedf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e1dedf;
	box-shadow:inset 0px 1px 0px 0px #e1dedf;
	background-color:white;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	/*Borde del botón*/
	border:1px solid light-gray;
	display:inline-block;
	
	/*texto del botón*/
	color:182b64;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;

	/*Tamaño*/
	padding:0.1vw 0.5vw;
	text-decoration:none;
	text-shadow:1px 1px 0px #fae9ed;	
}
